body{
	background-image: url(img/light.png);
	background-attachment: fixed;
	background-repeat: repeat;
}

.header{
	background-image: url(img/thumb-1920-403441.png);
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #ccc;
	background-size: cover;
	height: 250px;
	box-shadow: 0px 6px 10px 0px #888888 ! important;
}

.div-shadow{
	box-shadow: 0px 2px 5px #888888;
}

.about-user{
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin-top: 15px;
	height: 350px;
	background-color: rgba(221, 221, 221, 0.75);/*#dddddd dadada*/
}

.education{
}

.user-desc{
	float: left;
	padding: 45px 15px 45px 15px;
}

.social{
	float: right;
	font-size: 50px;
	padding: 50px 15px 50px 15px;
	margin-left: 30px;
}

.section-title{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	font-color: #ccc;
}

.name{
	font-weight: 700;
}

.desc{
	font-weight: 400;
}

.some-margin{
	margin-left: 20px;
}
